@model State
<h2>Create a New State</h2>
@using (Html.BeginForm("InsertStateToDatabase", "state", "Post"))
{
    <input asp-for="id" type="hidden" value="" />
    <label asp-for="name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="" />
    <label asp-for="code" class="control-label">Code</label>
    <input type="text" step="0.01" name="Code" class="form-control" />
    <label asp-for="region" class="control-label">Region</label>
    <input type="text" step="0.01" name="Region" class="form-control" />



    <input type="submit" value="Create State" class="btn btn-primary" />
}